/* CSS Document */
/* Lucas Bubner, 2022 */

* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #c4c4c4;
    scrollbar-width: auto;
    overflow-y: scroll;
    scrollbar-color: #36393f, #c4c4c4;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: #c4c4c4;
}

body::-webkit-scrollbar-thumb {
    background-color: #36393f;
    border-radius: 8px;
    border: 3px solid #c4c4c4;
}

/* Sidebar and chatbox */

ul {
    list-style: none;
    position: relative;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 1rem;
}

ul li button {
    text-align: center;
    min-width: 115px;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 15px 18px;
    background-color: #f5f5f5;
    z-index: 1;
}

ul li .sidebartext {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

ul li button:hover {
    color: #fff;
    background-color: #5e76ff;
}

.disabled { 
    background-color: #374597 !important;
    color: white !important;
}

.disabled:hover {
    color: #fff !important;
    cursor: not-allowed !important;
}

#minichatbody {
    width: 90%;
    height: 98%;
}

@media (min-width: 576px) {
    :root {
        --size-divisor: 1.3;
    }
}

@media (min-width: 768px) {
    :root {
        --size-divisor: 1.1;
    }
}

@media (min-width: 992px) {
    :root {
        --size-divisor: 1;
    }
}

@media (min-width: 1200px) {
    :root {
        --size-divisor: .67;
    }
}

@media (min-width: 1700px) {
    :root {
        --size-divisor: .34;
    }
}

@media (max-height: 720px) {
    .sidebar br {
        line-height: 0.7;
    }
}

@media (max-height: 660px) {
    .sidebar br {
        line-height: 0.4;
    }
}

@media (max-height: 610px) {
    .sidebar br {
        line-height: 0.2;
    }
}

@media (max-height: 590px) {
    .sidebar button {
        padding: 12px 18px;
    }
}

@media (max-height: 540px) {
    .sidebar br {
        line-height: 0.1;
    }
    
    .sidebar button {
        padding: 8px 18px;
    }
}

@media (max-height: 450px) {
    .sidebar button {
        padding: 4px 18px;
    }
}

@media (max-height: 375px) {
    .sidebar button {
        display: none;
    }
    #notice { 
        display: block;
    }
}

@media (min-height: 376px) {
    #notice { 
        display: none;
    }
}

#notice { 
    color: white;
    font-style: italic;
}

#chatbox_button,
#alt_button {
    border-radius: 50px;
    position: fixed;
    z-index: 1;
    background-color: #85d0ff;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    transform: translate(-10px, -10px);
}

#chatbox_button img {
    width: 75px;
    height: auto;
    transform: translate(-12px, -12px);
}

#chatbox_button:hover,
#alt_button:hover,
.sidebar button {
    cursor: pointer;
}

#alt_button {
    right: 65px;
}

#alt_button img {
    transform: translate(15px, 12px);
    width: 20px;
    height: auto;
}

#chat_container {
    background-color: #ababab;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #2445ff;
    border-radius: 30px;
    width: 60%;
    height: 70%;
    right: 7px;
    float: right;
    transform: translateY(25%);
    opacity: 1;
    position: fixed;
    display: none;
    z-index: 4;
}

#enterformcontainer {
    width: 100%;
    z-index: 4;
}

#chat_container #display,
#chat_container #input,
#chat_container #enter {
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    height: auto;
    width: calc(200px / var(--size-divisor));
}

#enterform {
    text-align: center;
    top: 50%;
    transform: translateY(23vh);
}

#chat_container #display {
    font-size: calc(24px / var(--size-divisor));
}

#chat_container #input {
    font-size: calc(14px / var(--size-divisor));
}

#chat_container #enter {
    font-size: calc(12px / var(--size-divisor));
}

iframe {
    height: 100%;
    width: 60vw;
    display: none;
    z-index: 4;
    border-radius: 30px;
}

.chat {
    display: flex;
    z-index: 4;
}

.chat__sidebar {
    height: 100vh;
    transform: translate(-15%, 0px);
    color: white;
    overflow: scroll;
}

#minichatbody {
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    transform: translate(0, 1%);
    background-color: #36393f;
    border-radius: 15px;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 16px;
    color: rgb(235, 235, 235);
    background-color: #626872;
    padding: 5px;
    border-radius: 5px;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    font-size: 14px;
}

.compose {
    display: flex;
    transform: translate(0, -5%);
    flex-shrink: 0;
    background-color: #36393f;
    border-radius: 40px;
    margin-top: 16px;
    padding: 24px;
    padding-bottom: 5px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    height: fit-content;
    transform: translateY(10px);
}

.users {
    color: black;
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.sidebar {
    background-color: #36393f;
    width: 140px;
    height: 100%;
    right: 0;
    position: fixed;
    border-radius: 30px;
}

/* Custom animations */ 

@keyframes moveIn {
    0% {
        transform: translate(0, 0);
        display: block;
    }

    100% {
        transform: translate(0, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes generate {
    0% {
        transform: translate(0px, 80px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
  }

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 151px);
    height: 100%;
    z-index: 3;
    pointer-events: none;
    background: #c4c4c4;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

#fader.activate {
    opacity: 1;
    animation-name: fadeIn;
}

/* Information flexboxes */

.common, .infopage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: stretch;
    gap: 5px;
    width: calc(100vw - 151px);
    height: auto;
    overflow: visible;
}

.common div {
    padding: 20px;
    color: white;
    background-color: #0063a0;
    border: 4px solid #889aff;
    border-radius: 30px;
    display: none;
}

table {
    color: inherit;
}